@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');
body {
  margin: 0;
  /* background-color: #E5E3C9; */
  background-color: #e0e8ff;
  font-family: 'Mulish', sans-serif;
  background-image: url("pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 375px){
  body{
      max-width: 375px;
      margin: 30px auto;
      background-image: url("pattern-background-mobile.svg");
  }
}
